services:
    simple-bot:
        build: .
        restart: unless-stopped
        volumes:
            - ./config.yaml:/config/config.yaml:ro
            - ${PI_CWD:-.}:/pi-cwd
        env_file:
            - .env
