[Unit]
Description=simple-bot daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node %h/Projects/Personal/simple-bot/dist/main.js %h/Projects/Personal/simple-bot/config.yaml
WorkingDirectory=%h/Projects/Personal/simple-bot
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production
EnvironmentFile=-%h/.config/simple-bot/env

[Install]
WantedBy=default.target
